<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.a1.wallpapergenerator" android:versionCode="1" android:versionName="0.9">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="18" />
	<application android:theme="@style/AppBaseTheme" android:label="HD Wallpaper Generator" android:icon="@drawable/ic_launcher">
		<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BIND_WALLPAPER" />
	<uses-permission android:name="android.permission.BILLING" />
	<uses-permission android:name="android.permission.GET_TASKS" />
</manifest>